ul.jqtree-tree {
  list-style: none outside;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 0;
}

ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-left: 12px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  display: block;
}

ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}

ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
  border-bottom: none;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.25rem;
  color: var(--bs-secondary, #707880);
}

ul.jqtree-tree .jqtree-folder .jqtree-toggler.jqtree-closed:before {
  content: "►";
}

ul.jqtree-tree .jqtree-folder .jqtree-toggler:before {
  content: "▼";
}

ul.jqtree-tree .jqtree-toggler:hover {
  color: var(--bs-secondary-light, #9098a0);
  text-decoration: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
  margin-right: 0.25rem;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
  margin-left: 0.25rem;
}

ul.jqtree-tree .jqtree-element {
  cursor: pointer;
  position: relative;
}

ul.jqtree-tree .jqtree-title {
  color: var(--bs-secondary, #707880);
  vertical-align: middle;
  margin-left: 1.75rem;
  display: inline-block;
}

ul.jqtree-tree .jqtree-title.jqtree-title-folder {
  margin-left: 0;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
  margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-ghost {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  border: solid 2px var(--bs-menu-bg, #30a0e0);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  left: -6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: var(--bs-menu-bg, #30a0e0);
  height: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  left: 2px;
  width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
  position: absolute;
  display: block;
  left: -3px;
  top: 0;
  border: solid 2px var(--bs-menu-bg, #30a0e0);
  border-radius: 6px;
  margin: 0;
  box-sizing: content-box;
}

ul.jqtree-tree .jqtree-element {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  padding: 0.1rem;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element {
  background-color: var(--bs-bg, #f8fafc);
}

ul.jqtree-tree .jqtree-element:hover,
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
  border-left: 3px solid var(--bs-menu-bg, #30a0e0);
}

[dir="rtl"] ul.jqtree-tree .jqtree-element:hover,
[dir="rtl"] ul.jqtree-tree li.jqtree-selected > .jqtree-element {
  border-right: 3px solid var(--bs-menu-bg, #30a0e0);
  border-left: 3px solid transparent;
}

ul.jqtree-tree .jqtree-element:hover,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background-color: var(--bs-bg-dark, #f4f8fb);
}

ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px var(--bs-menu-bg, #30a0e0);
}

ul.jqtree-tree.jqtree-rtl {
  direction: rtl;
}

ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
  margin-left: 0;
  margin-right: 12px;
}

ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
  margin-left: 0.5rem;
  margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title {
  margin-left: 0;
  margin-right: 1.5rem;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
  margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
  margin-right: 0;
  margin-left: 10px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
  right: -6px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
  right: 2px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
  margin-left: 0;
  margin-right: 48px;
}

ul.jqtree-tree.jqtree-rtl span.jqtree-border {
  right: -2px;
}

span.jqtree-dragging {
  background: var(--bs-menu-bg, #30a0e0);
  color: var(--bs-menu, #ffffff);
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px;
}
