rect {
  fill: none;
  pointer-events: all;
}


line {
  stroke: #000;
  stroke-width: 1.5px;
}


.node {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node .toggle {
  cursor: pointer;
}

.node .chevron {
  fill: #666;
  stroke: #333;
  stroke-width: 1px;
}

.node text, .node use {
  font-size: 100%;
}

path.link {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #ddd;
  stroke-width: 1;
}

.icon {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: -22%;
}

.icon svg, .icon img {
  display: block;
  height: 100%;
  width: 100%;
}

.icon * {
  display: block;
  line-height: inherit;
}

.icon-markup {
  display: block;
  text-align: center;
}

.icon-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 68.75%;
  width: 68.75%;
  text-align: center;
}

.icon-size-small {
  height: 16px;
  width: 16px;
  line-height: 16px;
}

.icon-size-small .icon-unify {
  line-height: 16px;
  font-size: 14px;
}

.icon-size-small .icon-overlay .icon-unify {
  line-height: 10px;
  font-size: 9px;
}

.icon-size-default {
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.icon-size-default .icon-unify {
  line-height: 32px;
  font-size: 28px;
}

.icon-size-default .icon-overlay .icon-unify {
  line-height: 20px;
  font-size: 18px;
}

.icon-size-large {
  height: 48px;
  width: 48px;
  line-height: 48px;
}

.icon-size-large .icon-unify {
  line-height: 48px;
  font-size: 42px;
}

.icon-size-large .icon-overlay .icon-unify {
  line-height: 30px;
  font-size: 26px;
}

.tree-check {
  cursor: pointer;
}

.tree-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

input.selected-nodes {
    display: none;
}